uv
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-pinecone>=0.2.0
langchain-groq
streamlit
python-dotenv
pypdf
torch>=2.8.0 
torchvision>=0.23.0
sentence-transformers